<!doctype html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Single page web app using Express</title>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>
<div data-navbar="navbar-div">
</div>
<header >
</header>
<body>
  <div>
    <div class="jumbotron">
      <p>
       Put main information here.
      </p>
    </div>
    <div class="jumbotron">
      <p>
       Put main information here.
      </p>
    </div>
    <div class="jumbotron">
      <p>
       Put main information here.
      </p>
    </div>
    <div class="jumbotron">
      <p>
       Put main information here.
      </p>
    </div>
    <div class="jumbotron">
      <p>
       Put main information here.
      </p>
    </div>
    <div class="jumbotron">
      <p>
       Put main information here.
      </p>
    </div>
    <div class="jumbotron">
      <p>
       Put main information here.
      </p>
    </div>
  </div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
<script src="navbar.js"></script>
</body>
</html>
